@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Noto Sans'), local('NotoSans'), url(fonts/noto-sans.woff) format('woff');
}

html {
	height: 100%;
	margin: 0px;
}

body {
	background-color: #6A8F8E;
	font-family: 'Noto Sans', Arial, sans-serif;
	font-size: 15px;
	height: 100%;
	width: 100%;
	margin: 0px;
}

/* Border for the whole web page */
#page {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.55);
	margin: 8px;
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}

header {
	background-color: #323D35;
	padding: 5px 40px;
	height: 75px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	position: relative;
	z-index: 2;
}

/* Page title */
header h1 {
	font-size: 32px;
	color: #FFFFFF;
	float: left;
}

/* Buttons in the header */
header nav {
	width: 1100px;
	position: relative;
	top: 43px;
	left: 50px;
}

header nav ul {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

header nav ul li {
	float: left;
	color: #000000;
	margin-left: 20px;
}

header nav ul li a {
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px 20px;
	text-transform: uppercase;
	letter-spacing: 1px;
	height: 17px;
	font-size: 15px;
	font-weight: bold;
}

header nav ul li a:hover {
	display: block;
	text-decoration: none;
	height: 25px;
}

/* Header Emergency Button */
header nav ul li #emergency {
	background-color: #A50026;
}

header nav ul li #emergency:hover {
	background-color: #e50036;
}

header nav ul li #emergency:active {
	background-color: #ff003c;
}

/* Header Need Support Button */
header nav ul li #need-support {
	background-color: #eba259;
}

header nav ul li #need-support:hover {
	background-color: #ffb061;
}

header nav ul li #need-support:active {
	background-color: #ffc891;
}

/* Header Offer Support Button */
header nav ul li #offer-support {
	background-color: #468f5c;
}

header nav ul li #offer-support:hover {
	background-color: #82b090;
}

header nav ul li #offer-support:active {
	background-color: #9dd4ad;
}

/* Header Message Button */
header nav ul li #message {
	background-color: #45544a;
}

header nav ul li #message:hover {
	background-color: #6f8775;
}

header nav ul li #message:active {
	background-color: #92b39b;
}

/* Left Side bar for messages*/
#message-bar {
	box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.55);
	background-color: #FFFFFF;
	width: 300px;
	position: absolute;
	top: 85px;
	bottom: 58px;
	z-index: 3;
	overflow: auto;
	padding-bottom: 20px;
}

/* Form to submit a new message */
#message-bar #message-form {
	background-color: #FFFFFF;
	box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.7);
	padding: 12px;
	min-height: 70px;
	margin-bottom: 17px;
	display: none;
}

/* Cross for closing the message form */
.x {
	float: right;
	cursor: pointer;
	display: inline;
	background-color: #DEDEDE;
	width: 18px;
	height: 18px;
	text-align: center;
	font-size: 13px;
}

#message-bar #message-form .x {
	float: left;
	position: relative;
	left: 240px;
}

#sort-form .x, #filter-form .x {
	position: relative;
	top: 10px;
}

.x:hover {
	background-color: #CCCCCC;
	color: #555555;
}

/* Message form headline */
#message-bar #message-form h1 {
	font-size: 15px;
	width: 250px;
	margin: 0px;
	position: relative;
	left: -18px;
}

/* Message form input field labels */
#message-bar #message-form p {
	margin: 5px 0px;
}

/* Message form mandatory star (*) */
#message-bar #message-form p .mandatory {
	color: #A50026;
}

/* Message form input fields */
#message-bar #message-form input, select, textarea {
	border: 1px solid #a9a9a9;
	background-color: #FFFFFF;
	font-family: 'Noto Sans', Arial, sans-serif;
	width: 225px;
	padding: 5px 15px;
}

#message-bar #message-form input:hover, select:hover, textarea:hover {
	border: 1px solid #5f5f5f;
}

/* Message form date input field */
#message-bar #message-form input.date {
	width: 118px;
	margin-right: 10px;
	padding: 5px 5px;
}

/* Message form time input field */
#message-bar #message-form input.time {
	width: 80px;
}

/* Message form small input field */
#message-bar #message-form input.small {
	width: 52px;
}

/* Message form file input field */
#message-bar #message-form input.file {
	border: none;
}

/* Message form submit button */
#message-bar #message-form div.submit {
	margin-top: -24px;
	margin-left: 156px;
	margin-bottom: 13px;
}

#message-bar #message-form div.submit input {
	width: 100px;
	cursor: pointer;
	background-color: #EEEEEE;
}

/* Message form dropdown field */
#message-bar #message-form select {
	width: 257px;
}

/* Message form text area */
#message-bar #message-form textarea {
	height: 100px;
	max-width: 225px;
}

#message-bar #message-form #details-message,
#message-bar #message-form #details-offer-support ,
#message-bar #message-form #details-emergency-need-support,
#message-bar #message-form #less-form {
	display: none;
}

#message-bar #message-form a {
	color: #3697f2;
	text-decoration: none;
}

/* Message form arrows for more- and less-links */
#message-bar #message-form a span.arrow {
	font-size: 13px;
}

#message-bar #message-form a:hover {
	color: #77bdff;
}

/* Message form more-link */
#message-bar #message-form div.more {
	position: relative;
	top: 15px;
	left: 10px;
	width: 120px;
}

#message-bar #message-form .small {
	font-size: 13px;
}

/* Message form marker image */
#message-bar #message-form .marker-image {
	text-align: center;
}

#message-bar #message-form .marker-image img {
	margin: 10px;
	cursor: pointer;
}

/* Emergency message field */
#message-bar .message-emergency {
	background-image: url(../img/background-emergency.png);
}

/* Need support message field */
#message-bar .message-need-support {
	background-image: url(../img/background-need-support.png);
}

/* Offer support message field */
#message-bar .message-offer-support {
	background-image: url(../img/background-offer-support.png);
}
/* Message field */
#message-bar .message {
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.55);
	padding: 12px;
	min-height: 70px;
	margin-bottom: 5px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#message-bar .message:hover {
	background-color: #f7f7f7;
}

/* Message field headline */
#message-bar .message h1 {
	font-size: 15px;
	margin-bottom: 6px;
}

/* Message field emergency headline */
#message-bar .message h1.emergency-head {
	color: #A50026;
}

/* Message field need support headline */
#message-bar .message h1.need-support-head {
	color: #eba259;
}

/* Message field offer support headline */
#message-bar .message h1.offer-support-head {
	color: #468f5c;
}

/* Message field message headline */
#message-bar .message h1.message-head {
	color: #45544a;
}

/* Message field date and time */
#message-bar .message .time {
	color: #959595;
	font-style: italic;
	position: relative;
	top: -24px;
	margin-bottom: -20px;
	text-align: right;
	font-size: 13px;
}

/* Message field text */
#message-bar .message p {
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: justify;
	font-size: 13px;
	line-height: 20px;
}

/* Message field less-link */
#message-bar .message .less {
	text-align: right;
	display: none;
}

#message-bar .message a {
	color: #3697f2;
	text-decoration: none;
}

#message-bar .message a:hover {
	color: #77bdff;
}

/* Message field arrows for more- and less-links */
#message-bar .message a span.arrow {
	font-size: 11px;
}

/* Message field details */
#message-bar .message .details {
	display: none;
	font-size: 13px;
	margin-bottom: 8px;
	line-height: 20px;
}

/* Message field details table */
#message-bar .message .details table {
	width: 100%;
}

#message-bar .message .details table tr td.first {
	width: 60px;
	vertical-align: top;
}

/* Message field image */
#message-bar .message .details .image-box {
	text-align: center;
	margin: 15px 0px;
}

#message-bar .message .details .image {
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.55);
}

/* Message field comments headline */
#message-bar .message div.comments h1 {
	color: #959595;
	font-style: italic;
	font-size: 13px;
	font-weight: normal;
}

/* Message field comment headline */
#message-bar .message div.comment {
	padding: 2px;
}

#message-bar .message div.comment table tr td.right {
	text-align: right;
	color: #959595;
	font-style: italic;
}

#message-bar .message div.comment table tr td.justify {
	text-align: justify;
}

/* Message field new comment form */
#message-bar .message div.new-comment {
	padding: 4px;
}

/* Message field new comment form fields */
#message-bar .message div.new-comment input, textarea {
	border: 1px solid #a9a9a9;
	background-color: #FFFFFF;
	font-family: 'Noto Sans', Arial, sans-serif;
	width: 225px;
	padding: 5px 15px;
}

#message-bar .message div.new-comment input:hover, textarea:hover {
	border: 1px solid #5f5f5f;
}

/* Message field new comment form text area */
#message-bar .message div.new-comment textarea {
	max-width: 225px;
}

/* Message field new comment form submit button */
#message-bar .message div.new-comment div.submit {
	margin-left: 156px;
	margin-bottom: 13px;
}

#message-bar .message div.new-comment div.submit input {
	width: 100px;
	cursor: pointer;
	background-color: #EEEEEE;
}

/* Message field category */
#message-bar .message div.category {
	color: #959595;
	font-style: italic;
	font-size: 13px;
	margin-left: 3px;
}

/* Message field location and up/down-vote */
#message-bar .message div.location-voting  {
	color: #959595;
	font-style: italic;
	font-size: 13px;
	position: relative;
	top: -17px;
}

#message-bar .message div.upvote-number {
	float: right;
	position: relative;
	top: -20px;
	left: -2px;
	color: #468f5c;
	font-size: 13px;
	text-align: center;
	width: 30px;
}

/* Message field downvote arrow */
#message-bar .message div.downvote {
	float: right;
	position: relative;
	top: -20px;
	left: 2px;
	width: 15px;
	font-size: 13px;
	float: right;
	-webkit-transform: scale(2.0,1.0);
    -moz-transform: scale(2.0, 1.0);
    -ms-transform: scale(2.0, 1.0);
    -o-transform: scale(2.0, 1.0);
    transform: scale(2.0,1.0);
}

#message-bar .message div.location-voting div.downvote-number {
	margin-left: 10px;
	float: right;
	color: #A50026;
	font-size: 13px;
	text-align: center;
	width: 15px;
	font-style: normal;
}

/* Message field upvote arrow */
#message-bar .message div.location-voting div.upvote {
	float: right;
	margin-left: 20px;
	-webkit-transform: scale(2.0,1.0);
    -moz-transform: scale(2.0, 1.0);
    -ms-transform: scale(2.0, 1.0);
    -o-transform: scale(2.0, 1.0);
    transform: scale(2.0,1.0);
}

#message-bar .message div.location-name {
	color: #959595;
	font-style: italic;
	font-size: 13px;
	margin-left: 19px;
}

#message-bar .message div.location-voting div.upvote a, #message-bar .message div.upvote a:visited, #message-bar .message div.upvote a:active {
	color: #468f5c;
	text-decoration: none;
}

#message-bar .message div.location-voting div.upvote a:hover {
	color: #82b090;
}

#message-bar .message div.downvote a, #message-bar .message div.downvote a:visited, #message-bar .message div.downvote a:active {
	color: #A50026;
	text-decoration: none;
}

#message-bar .message div.downvote a:hover {
	color: #e50036;
}

/* Form for sorting and filtering messages */
.utility-form {
	background-color: #FFFFFF;
	box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.55);
	position: absolute;
	bottom: 60px;
	left: 0px;
	right: 0px;
	width: 280px;
	z-index: 3;
	display: none;
	padding: 10px;
}

.filter {
	height: 250px;
}

.sort {
	height: 125px;
}

.utility-form h1 {
	font-size: 15px;
}

.utility-form p {
	margin: 4px 0px;
	font-size: 13px;
}

/* Dropdown for category filtering */
.utility-form select.select-filter {
	margin: 5px 0px;
	margin-right: 5px;
	border: 1px solid #a9a9a9;
	background-color: #FFFFFF;
	font-family: 'Noto Sans', Arial, sans-serif;
	width: 133px;
	padding: 3px 5px;
	font-size: 11px;
}

.utility-form select.select-sorting {
	margin: 5px 0px;
	margin-right: 5px;
	border: 1px solid #a9a9a9;
	background-color: #FFFFFF;
	font-family: 'Noto Sans', Arial, sans-serif;
	width: 280px;
	padding: 5px 15px;
	font-size: 13px;
}

.utility-form select.select-filter:hover {
	border: 1px solid #5f5f5f;
}

.utility-form select.select-sorting:hover {
	border: 1px solid #5f5f5f;
}

.utility-form input.date {
	padding: 3px 5px;
	width: 160px;
	border: 1px solid #a9a9a9;
	font-family: 'Noto Sans', Arial, sans-serif;
}

.utility-form input.time {
	padding: 3px 5px;
	width: 87px;
	border: 1px solid #a9a9a9;
	font-family: 'Noto Sans', Arial, sans-serif;
}

.utility-form input.date:hover {
	border: 1px solid #5f5f5f;
}

.utility-form input.time:hover {
	border: 1px solid #5f5f5f;
}

.utility-form input.button {
	float: right;
	margin-top: 5px;
	margin-right: 5px;
	cursor: pointer;
	background-color: #EEEEEE;
	border: 1px solid #a9a9a9;
	font-family: 'Noto Sans', Arial, sans-serif;
	padding: 3px 15px;
	font-size: 13px;
}

.utility-form input.button:hover {
	border: 1px solid #5f5f5f;
}

.utility-form p.sorting-radio {
	text-align: center;
	margin-top: 10px;
}

.utility-form p span.sorting-radio-pointer {
	cursor: pointer;
}

.utility-form p input {
	cursor: pointer;
}

/* Message search box */
#message-search {
	background-color: #FFFFFF;
	box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.55);
	position: absolute;
	bottom: 28px;
	left: 0px;
	right: 0px;
	width: 300px;
	height: 32px;
	z-index: 3;
}

/* Message search field */
#message-search input {
	width: 238px;
	height: 32px;
	border: none;
	margin: 0px;
	padding: 0px 15px;
	font-family: 'Noto Sans', Arial, sans-serif;
	display: inline;
}

/* Message filtering and sorting icons */
#message-search img {
	position: absolute;
	display: inline;
	cursor: pointer;
	border-left: 1px solid #DEDEDE;
	right: 1px;
}

#message-search img#sort {
	right: 34px;
}

/* Map */
#map {
	min-height: 0%;
	position: absolute;
	top: 85px;
	bottom: 28px;
	right: 0px;
	left: 0px;
}

/* Leaflet zoom and location finder controls */
#map .leaflet-left {
	left: 310px;
}

/* Leaflet geosearch plugin */
#map .leaflet-control-geosearch {
	position: absolute !important;
	margin: 0px !important;
	left: 46px !important;
	top: 10px !important;
	padding: 0px !important;
}

#map .leaflet-control {
	font-family: 'Noto Sans', Arial, sans-serif;
}

#map .leaflet-control-geosearch input {
	box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
	background-color: #FFFFFF;
	font-family: 'Noto Sans', Arial, sans-serif;
	width: 350px;
	padding: 1px 7px;
	font-size: 
}

#map .leaflet-control-geosearch input:hover {
	background-color: #F6F6F6;
}

/* Leaflet layer toggler */
#map .leaflet-control-layers-toggle {
	cursor: pointer;
}

#map .leaflet-control-layers-list label {
	cursor: pointer;
	border-radius: 4px;
}

#map .leaflet-control-layers-list label:hover {
	background-color: #EEEEEE;
}

/* Leaflet GroupedLayer toggler */
#map .leaflet-control-layers-group-name {
	font-weight: bold;
	margin-bottom: .2em;
	display: block;
}

#map .leaflet-control-layers-group {
	margin-bottom: .5em;
}

#map .leaflet-control-layers-group label {
	padding-left: .5em;
}

/* Leaflet Scale */
#map .leaflet-control-scale {
    margin-bottom: 5px !important;
    position: relative !important;
    right: 170px !important;
    bottom: -160px !important;
}


/* Message bar toggler */
#hide-message-bar-container {
	position: absolute;
	left: 301px;
	top: 85px;
	bottom: 28px;
	z-index: 2;	
}

#hide-message-bar {
	background-image: url(../img/icons/hide-message-bar.png);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #FFFFFF;
	height: 100px;
	width: 10px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	line-height: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* Popup for further content pages */
#popup {
	position: relative;
	top: 80px;
	margin: auto;
	height: 50%;
	width: 800px;
	min-height: 300px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.55);
	z-index: 1001;
	padding: 15px;
	display: none;
}

#map-right-click-menu {
	position: absolute;
	min-width: 180px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.55);
	z-index: 1002;
	display: none;
}

#map-right-click-menu ul {
	list-style-type: none;
	padding-left: 0px;
	margin: 0px;
	border-left: 1px solid #959595;
	border-right: 1px solid #959595;
	border-top: 1px solid #959595;
}

#map-right-click-menu ul li {
}

#map-right-click-menu ul li a {
	text-decoration: none;
	display: block;
	color: #000000;
	padding: 5px 10px;
	border-bottom: 1px solid #959595;
	font-size: 13px;
}

#map-right-click-menu ul li a:hover {
	background-color: #EEEEEE;
}

/* Highchart-Popup for further content pages */
#highchartPopup {
	position: relative;
	top: 80px;
	margin: auto;
	height: 53%;
	width: 800px;
	min-height: 300px;
	background-color: #FFFFFF;
	box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.55);
	z-index: 1001;
	padding: 15px;
	display: none;
}

#highchartContainer {
	z-index: 1002;
}

footer {
	background-color: #323D35;
	padding: 4px 40px;
	height: 20px;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	text-align: right;
	vertical-align: middle;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
	letter-spacing: 1px;
	padding-left: 20px;
	text-transform: uppercase;
	font-size: 13px;
}

footer a:hover {
	color: #A6A6A6;
	text-decoration: none;
}